<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DailyInfoSoap" />
                <binding name="DailyInfoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap"
                contract="GuidedLearningClio.DailyInfoSoap" name="DailyInfoSoap" />
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap1"
                contract="CbrDailyInfo.DailyInfoSoap" name="DailyInfoSoap1" />
        </client>
    </system.serviceModel>
</configuration>